@if (meeting) {
  <div class="gp-card">
    <h2>{{ meeting.meeting_official_name }}</h2>
    <h3 class="country-flag">
      <img
        class="flag-icon"
        [src]="getFlagCode(meeting.country_code)"
        [alt]="meeting.country_name + ' flag'"
      /><br />
      <span>{{ meeting.country_name }}</span>
    </h3>
    <h4>📍 {{ meeting.location }}</h4>
    <p>🗓️ {{ meeting.date_start | date: 'longDate' }}</p>

    <div class="sessions-container">
      <h3>Sessioni:</h3>
      
      <div class="sessions-grid">
        @for (session of sessions; track $index) {
          <div class="session-card">
            <h3>{{ session.session_name }}</h3>
            <h4>{{ session.session_type }}</h4>
            <p>🗓️ {{ session.date_start | date: 'longDate' }}</p>
          </div>
          <div class="info-row">
            <p-table [value]="session.results" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template #header>
                    <tr>
                        <th>Pos.</th>
                        <th>Num</th>
                        <th>Driver</th>
                        <th>Team</th>
                        <th>Time/Gap</th>
                        <th>Laps</th>
                    </tr>
                </ng-template>
                <ng-template #body let-result>
                    <tr>
                        <td>{{ result.position }}</td>
                        <td>{{ result.driver_number }}</td>
                        <td></td>
                        <td></td>
                        @if (result.position === 1) {
                            <td>{{ result.duration }}</td>
                        } @else {
                            <td>+{{ result.gap_to_leader }}s</td>
                        }
                        <td>{{ result.number_of_laps }}</td>
                    </tr>
                </ng-template>
            </p-table>
          </div>
        }
      </div>
    </div>
  </div>
} 
