/* You can add global styles to this file, and also import other style files */
@import 'primeicons/primeicons.css';
 
/* Configurazione font globale per un design moderno */
:root {
  --font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
 
* {
  box-sizing: border-box;
}
 
body {
  margin: 0;
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 
/* Override PrimeNG font family per consistenza */
.p-component {
  font-family: var(--font-family) !important;
}
 
/* Stili per i titoli */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family);
  font-weight: 600;
  line-height: 1.3;
  margin: 0 0 1rem 0;
}
 
h1 { font-size: 2.25rem; }
h2 { font-size: 1.875rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }